* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

nav {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 10px;
  padding-bottom: 10px;
}

#nome {
  margin-left: 9%;
}
#frase {
  font-family: "Allura";
  font-weight: 400;
  font-style: italic;
}

.textos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: justify;
}

.barraVertical {
  margin-top: 2%;
  border-left: 1px solid black;
  width: 5px;
  height: 370px;
}

#barras {
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 3%;
}
.barraHorizontal {
  border-top: 1px solid black;
  width: 550px;
  height: 5px;
}

section {
  width: 35%;
  padding: 10px;
}

section h5 {
  font-size: 15px;
}
#sessao1 {
  margin-top: 3%;
}

#sessao2 {
  margin-top: 3%;
}

#github {
  color: blue;
}

#box {
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#sessao3 {
  text-align: center;
  font-size: 15px;
  padding: 20px;
  margin-right: -5%;
}
#sessao3 h2 {
  margin-bottom: 2%;
}

#sessao4 {
  width: 30%;
  padding: 20px;
  text-align: center;
}

#sessao4 h2 {
  margin-bottom: 2%;
}
#sessao4 div {
  margin-bottom: 2%;
  padding: 5px;
  border: solid 1px gray;
  border-radius: 5px;
}

#projetos {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#projetos div {
  margin: 5%;
  background-color: black;
}

#projetos h4 {
  color: white;
  font-size: 18px;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

li {
  color: white;
  font-size: 12px;
}
